*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nbproject
out

atlassian-ide-plugin.xml
.DS_Store

private
build
dist
out
target

# Log-files
*.log
